@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5D26FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fustat: var(--font-fustat);
  --font-dm-sans: var(--font-dm-sans);
  /* --font-mono: var(--font-geist-mono); */
}



body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
